<div class="modal-header">
    <h3 class="modal-title">Part Received!</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label>Received by:</label>
            <input type="text" class="form-control" placeholder="username" ng-model="name.username">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="update()">Update</button>
    <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
</div>
