<div class="text-center">
    <h3 class="bg-info">Parts awaiting arrival.</h3>
    <table class="table table-striped table-hover">    
        <tr>
            <th>RecordNo.</th>
            <th>OrderNo.</th>
            <th>Qty</th>
            <th>PartNo.</th>
            <th>Days.</th>
        </tr>
        <tr ng-repeat="part in parts track by $index" class="{{part.days > 4? 'danger' : null}}">
            <td>{{part.recordNum}}</td>
            <td>{{part.orderNum}}</td>
            <td>{{part.qty}}</td>
            <td>{{part.partNum}}</td>
            <td>{{part.days}}</td>
            <td><button class="btn btn-primary" ng-click="openModal(part.recordNum,$index)">Received</button></td>
        </tr>
    </table>
</div>
